body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2E2F42;
    text-decoration: none;
}
.logo-accent {
    color: #4d5ae5;;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav-link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-link{
    color: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a:hover, 
a:focus  {
    color: #404BBF;
}
.section-hero {
    background-color: #2E2F42;
}
h1 {
    color: #FFFFFF;
    text-align: center;
    line-height: 1.07143;
    letter-spacing: 0.02em;

}
button {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
button:hover,
button:focus {
    background-color: #404BBF;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-team {
    background-color: #f4f4fd;
}
.section-title {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.team-list-item {
    background-color: #FFFFFF;
}
.team-list-heading,
.team-list-paragraph {
    text-align: center;
}
.section-footer {
    background-color: #2E2F42;
}
.logo-footer {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}
.footer-text {
    color: #f4f4fd;
}